h1 {
	color: green;
	font-family: 'Avenir';
	font-size: 20px;
	margin: 0;
}

#searchBar {
	border: none;
  	border-bottom: 1px solid black;
	background-color: transparent;
	color: black;
	font-size: 1.5em;
	outline: none;
	shadow: none;
}

#searchBar:focus {
	border-bottom: 1px solid black;
}

/********* CHUNK STYLING *********/
.Chunk {
	padding: 5px;
}

.Chunk-thumbnail {
	margin-right: 10px;
}

.Chunk-text-chunk {

}

.Chunk-text-align {
	width: 100px;
    height: 100px;
}

.Chunk-text-align-options {
    width: 33px;
    height: 33px;
    outline: 1px solid;
    float: left;
}

.Chunk-text-timing {

}

.Chunk-video-start {
	display: flex;
	flex-direction: row;
	margin: 10px 0px;
}

.Chunk-video-start-input {
	width: 20px;
	height: 10px;
	margin-right: 5px;
}

.Chunk-video-start-seconds {
	padding: 0;
	margin: 0;
}
/********* CHUNK STYLING *********/

.preset {
	margin: 20px;
}

/********* VIDEO CARD MEDIA DROP STYLING *********/
.dropzone {
	width: 300px;
	border-color: rgb(102, 102, 102);
	border-style: dashed;
	border-radius: 5px;
}

.video-clip {
	width: 400px;
}
/********* VIDEO CARD MEDIA DROP STYLING *********/

/********* MEDIA LIBRARY STYLING *********/
.media-library {
	border: solid;
	width: 97%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#add-media-square {
	border: dashed;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 15px;
}

.vidNode {
	border: solid;
	border-width: .5px;
	height: 100px;
}
/********* MEDIA LIBRARY STYLING *********/






